<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/CSS/styles.css" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="styleSheet" href="/CSS/normalize.css">
    

</head>


<body class="home">
    <header class="main-header">
   <div class="search-container"> 
        <img src="/images/logo-mercado-liebre.svg" alt="logo">

        <form>
            <input name="buscar" type="text" placeholder="buscar productos">
            <button type="submit" name="buscar"><i class="fas fa-search"></i></button>
        </form>
        
       <div class="cuotes-container">
           <i class="fas fa-hand-holding-usd"></i>
           <h2>Compra en cuotas y sin tarjeta de crédito</h2>
       </div>
    </div>    

        <nav>
            <ul class="primerNav">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        
    
            <ul class="segundoNav">
                <li><a href="/registro">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>


        <a class="burger" href="#"><i class="fas fa-bars"></i></a>

         

    </header>



    <main>
                 
        <img src="/images/img-home-banner.jpg" alt="banner" class="banner"  width="100%">

      <div class="main"> 
        <section>
            <h3>Basado en tu ultima visita</h3>

              
            <div class="container">
               <article>
                   <img src="/images/img-cafetera-moulinex.jpg" alt=""  width="100%">

                  <div> 
                     <i class="fas fa-truck"></i>
                     <p class="precios">$6.770</p>
                     <p class="descuento">40% Off</p>
                     <h3>Cafetera Moulinex</h3>
                  </div>
               </article>
            

            <article class="cajaProductos">
                <img src="/images/img-macbook-pro-2019.jpg" alt="" width="100%">
                
                <div>
                   <i class="fas fa-truck"></i>
                   <p class="precios">$230.000</p>
                   <p class="descuento">20% Off</p>

                   <h3>MacBook Pro 20219</h3>
                </div>
            </article>

            <article class="cajaProductos">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt=""  width="100%">
                 <div>
                      <i class="fas fa-truck"></i>
                      <p class="precios">$70.500</p>
                      <p class="descuento">10% Off</p>

                      <h3>Samsung Galaxy S10</h3>

                 </div>             
            </article>

            <article class="cajaProductos">

                <img src="/images/img-tv-samsung-smart.jpg" alt=""  width="100%">

            <div class="precioDescuento">

                <i class="fas fa-truck"></i>
                <p class="precios">$23200</p>
                <p class="descuento">5% Off</p>

                <h3>Smart Tv Samsung 43"</h3>
            </div>
            </article>





        </section>

        <section>
            <h2>Ofertas</h2>

    <div class="flex-container">  

            <article class="cajaProductos">
                <img src="/images/img-cafetera-moulinex.jpg" alt=""  width="100%">
               <div> 
                  <i class="fas fa-truck"></i>
                  <p class="precios">$6.770</p>
                  <p class="descuento">40% Off</p>
                  <h3>Cafetera Moulinex</h3>
               </div>
            </article>
         

         <article class="cajaProductos">
             <img src="/images/img-macbook-pro-2019.jpg" alt="" width="100%">
             
             <div>
                <i class="fas fa-truck"></i>
                <p class="precios">$230.000</p>
                <p class="descuento">20% Off</p>

                <h3>MacBook Pro 20219</h3>
             </div>
         </article>

         <article class="cajaProductos">
             <img src="/images/img-samsung-galaxy-s10.jpg" alt=""  width="100%">
              <div>
                   <i class="fas fa-truck"></i>
                   <p class="precios">$70.500</p>
                   <p class="descuento">10% Off</p>

                   <h3>Samsung Galaxy S10</h3>

              </div>             
         </article>

         <article>

             <img src="/images/img-tv-samsung-smart.jpg" alt=""  width="100%">

         <div class="precioDescuento">

             <i class="fas fa-truck"></i>
             <p class="precios">$23200</p>
             <p class="descuento">5% Off</p>

             <h3>Smart Tv Samsung 43"</h3>
         </div>
         </article>
        </section>
      </div>

    </main> 


    <footer>
        <!-- pie de pagina -->
        
            <article>
                <i class="fas fa-credit-card"></i>
                <h4>Pagá  con tarjeta o en efectivo</h4>
                <p> Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </article>
        



         
            <article>
                <i class="fas fa-gift"></i>

                <h3>Envio gratis desde $2.500</h3>
                <p> por estar regitrad@ en Mercado Liebre tenés envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
        



        
            <article>

                <i class="fas fa-user-shield"></i>
                <h4>Seguridad de principio a fin</h4>
                <p> ¿No te gusta? ¡Devolvelo! En mercado liebre, no hay nada que no puedas hacer, porque siempre estas protegid@.</p>

            </article>
        
        
            <article>
                <p></p>© 1999-2020 MercadoLiebre S.R.L.</p>
                
            </article>
        
        
        


    </footer>
    

</body>
</html>